
.ArrayContainer {
	position: absolute;
	left: 220px;
	bottom: 20px;
}

.ArrayBar {
	display: inline-block;
	margin: 0 0.25px;
}

.Toolbar {
	position: absolute;
	left: 0px;
	bottom: 100px;
	width: 210px;
}

.ArraySizeSlider {
	position: absolute;
	left: 10px;
	bottom: 100px;
}


.AnimationSpeedSlider {
	position: absolute;
	left: 10px;
	bottom: -30px;
}

