
html {
	font-size: 10px;
}

.ArrayContainer {
	position: absolute;
	left: 22rem;
	bottom: 2rem;
}

.ArrayBar {
	display: inline-block;
	margin: 0 0.025rem;
}

.Toolbar {
	position: absolute;
	left: 0rem;
	bottom: 10rem;
}

.SliderLeftLabel {
	position: absolute;
	left: 0.5rem;
	bottom: -1rem;
	font-size: 1.4rem;
}

.SliderRightLabel {
	position: absolute;
	left: 17rem;
	bottom: -1rem;
	font-size: 1.4rem;
}

.SliderValueLabel {
	position: absolute;
	top: -1.3rem;
	font-size: 1.4rem;
	color: darkgreen;
}