
html {
	font-size: 10px;
}

.ArrayContainer {
	position: absolute;
	bottom: 2rem;
}

.ArrayBar {
	display: inline-block;
	margin: 0 0.025rem;
}

.Toolbar {
	position: absolute;
	bottom: 2rem;
}

.SliderLeftLabel {
	position: absolute;
	left: 0.5rem;
	bottom: -1rem;
}

.SliderRightLabel {
	position: absolute;
	bottom: -1rem;
}

.SliderValueLabel {
	position: absolute;
	top: -1.3rem;
	color: darkgreen;
}

.SliderName {
	position: absolute;
	top: -4rem;
	left: 1rem;
	color: black;
}